{
    "plugins": [
      "no-only-tests"
    ],
    "rules": {
      "no-unused-expressions": "off",
      "no-only-tests/no-only-tests": "error"
    },
    "env": {
      "mocha":   true,
      "node":    true,
      "browser": true
    },
    "globals": {
      "fixture": true
    }
}
